.selection-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50vh;
}

#score-container{
    display: flex;
    justify-content: space-around;
    margin-top: 20%;
}

#rock{
    background-color: burlywood;
}

#paper{
    background-color: white;
}

#scissors{
    background-color: red;
}

#results-container {
    text-align: center;
}